<div class="card">
    <div class="content">
        <span>
            {{ subject }}
            <button type="button" [disabled]="state === TaskState.Finish">
                編輯
            </button>
        </span>
        <span [appTaskStateColor]="state">{{ stateDesc }}</span>

    </div>

    <div class="button">
        <span>
            <button type="button" (click)="onSetTaskState(TaskState.None)">
                未完成
            </button>
            <button type="button" (click)="onSetTaskState(TaskState.Doing)">
                進行中
            </button>
            <button type="button" (click)="onSetTaskState(TaskState.Finish)">
                已完成
            </button>
        </span>
    </div>
</div>